body {
background: lightblue;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
}
h1, p {
color: seashell;
text-align: center;
}

h2 {
    color: mistyrose;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}