body {
background: lightblue;
text-align: center;
}
h1, p, h3, h4 {
font-family:Georgia, 'Times New Roman', Times, serif;
color: seashell;
text-align: center;
}

.education {
    color: lightcoral;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.projects {
    color: lightpink;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.about {
    color: palevioletred;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.contact {
    color: mistyrose;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h3 {
    color: lavenderblush;
}

img {
    width: 400px;
    height:400px;
}


.project-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;           
    justify-content: center;
}

.project {
    width: 30%;        
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    background-color: lightsteelblue;
}

.project img {
    width: 80%;
    height: auto;
    border-radius: 8px;
}

