body {
background: lightblue;
text-align: center;
}
h1, p, h3, h4 {
font-family:Georgia, 'Times New Roman', Times, serif;
color: seashell;
text-align: center;
}

.education {
    color: lightcoral;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.projects {
    color: lightpink;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.about {
    color: palevioletred;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.contact {
    color: mistyrose;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h3 {
    color: lavenderblush;
}

img {
    width: 400px;
    height:400px;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: lightsteelblue;
    border-radius: 25%;
}