body {
background: lightblue;
text-align: center;
}
h1, p {
font-family:Georgia, 'Times New Roman', Times, serif;
color: seashell;
text-align: center;
}

.skills {
    color: lightcoral;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.projects {
    color: lightpink;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.about {
    color: palevioletred;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.contact {
    color: mistyrose;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}